<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detalle Cuenta</h1>
            </div>
            <div class="col-sm-6" style="text-align: right;">
                <h6></h6>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <form role="form">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control" [(ngModel)]="datosCuenta.usuario" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control" [(ngModel)]="datosCuenta.password" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo</label>
                                <select #selectList1 class="custom-select" (change)="getInfoTipo(selectList1.value)" [(ngModel)]="datosCuenta.idTipo" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let tip of tipo" [value]="tip.id">
                                        {{tip.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary" (click)="updateRecursoHardware()" #btnEditarHardware>Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="regresarBandeja()">Regresar</button>
            </div>
        </div>
    </div>
</section>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>