<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detalles</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!--Recurso - Hardware-->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"> Tipo </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive table-sm">
                <table class="table table-hover" style="width: 1000px;">
                    <thead>
                        <tr>
                            <th style="width: 20px;text-align: center;">Accion</th>
                            <th style="width: 20px;text-align: center;">Id</th>
                            <th style="width: 100px;text-align: center;">Nombre</th>
                            <th style="width: 100px;text-align: center;">Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tip of tipo | paginate: {id: 'Tipo', itemsPerPage: 3, currentPage: paginaInicioT}">
                            <td style="text-align: center;">
                                <a type="button" (click)="eliminarTipo(tip.id)">
                                    <i id="icono" class="far fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Quitar"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">{{tip.id}}</td>
                            <td style="text-align: center;">{{tip.nombre}}</td>
                            <td style="text-align: center;">{{tip.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer pb-0 pt-3">
                    <pagination-controls (pageChange)="paginaInicioT = $event" id="Tipo"></pagination-controls>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalTipo" (click)="nroPaginaT();limpiarTipo();habilitarGuardar();">Agregar</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- Recurso - Perfil -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"> Marca </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive table-sm">
                <table class="table table-hover" style="width: 1000px;">
                    <thead>
                        <tr>
                            <th style="width: 20px;text-align: center;">Accion</th>
                            <th style="width: 20px;text-align: center;">Id</th>
                            <th style="width: 100px;text-align: center;">Nombre</th>
                            <th style="width: 100px;text-align: center;">Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mar of marca | paginate: {id: 'Marca', itemsPerPage: 3, currentPage: paginaInicioM}">
                            <td style="text-align: center;">
                                <a type="button" (click)="eliminarMarca(mar.id)">
                                    <i id="icono" class="far fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Quitar"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">{{mar.id}}</td>
                            <td style="text-align: center;">{{mar.nombre}}</td>
                            <td style="text-align: center;">{{mar.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer pb-0 pt-3">
                    <pagination-controls (pageChange)="paginaInicioM = $event" id="Marca"></pagination-controls>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalMarca" (click)='nroPaginaM();limpiarMarca();habilitarGuardar();'>Agregar</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" (click)="regresarBandeja()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</section>



<!--Modal Tipo-->
<div class="modal fade" aria-labelledby="myLargeModalLabel" tabindex="-1" aria-hidden="true" id="modalTipo" role="dialog" #modalTipo>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Agregar Tipo</h5>
                </div>
                <div>
                    <button type="button" class="close" data-dismiss="modal" #cerrarModalTipo>&times;</button>
                </div>
            </div>
            <div class="modal-body" style="padding-bottom: 0px;">
                <form role="form">
                    <div class="card-body" style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" [(ngModel)]="datosTipo.nombre" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Descripcion</label>
                                    <textarea class="form-control" [(ngModel)]="datosTipo.descripcion" [ngModelOptions]="{standalone: true}" rows="4" style="resize: none;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" #btnGuardarTipo (click)="addTipo()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Agregar Marca-->
<div class="modal fade" aria-labelledby="myLargeModalLabel" tabindex="-1" aria-hidden="true" id="modalMarca" role="dialog" #modalMarca>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Agregar Marca</h5>
                </div>
                <div>
                    <button type="button" class="close" data-dismiss="modal" #cerrarModalMarca>&times;</button>
                </div>
            </div>
            <div class="modal-body" style="padding-bottom: 0px;">
                <form role="form">
                    <div class="card-body" style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" [(ngModel)]="datosMarca.nombre" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Descripcion</label>
                                    <textarea class="form-control" [(ngModel)]="datosMarca.descripcion" [ngModelOptions]="{standalone: true}" rows="4" style="resize: none;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" #btnGuardarMarca (click)="addMarca()">Guardar</button>
            </div>
        </div>
    </div>
</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>